body{
   background-color: aqua;
}
#discapacidadenemergencia{
    width: 80%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: justify;
}
#p_discapacidadenemergencia{
    text-align: center;
    margin-bottom: 2em;
    font-style: italic;
    font-size: medium;
    vertical-align: middle;
}
#imagen1{
    width: 20%;
    float: left;
}
#separacion{
    clear:both
}
#movilizacionalaplaza{
    width: 80%;
    float: left;
    text-align: justify;
    margin-bottom: 2em;
    font-size: medium;
}
#p_texto2{
text-align: center;
vertical-align: middle;

}
#imagen2{
    width: 25%;
    float: left;
}
#footer{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    